body {
    background:#3d566f;
    margin:0;
}

.link {
    background-color: coral;
    color: white;
    text-decoration: none;
    margin: 2px;
}



#title {
    margin:0;
    outline:0;
    padding:0;
    width:100%;
    background-color: black; 
    display: flex;
    text-align: justify;
    margin-bottom: 20px;  
}

#main {
    font-size:32px;
}

#detail {
    font-size:24px;
}

.text {
    float:center;
    color:white;
    text-align:center;
    margin:auto;
}

.image {
    float:right;
    margin:auto;
    max-width:80%;
    max-height:80%;
    box-sizing:border-box;
}

#groups{
    background-color:coral;
    display:inline-block;
}


@media(max-width:600px){
    .text{
        width:100%;
        float:none;
    }

    .image{
        width:100%;
        float:none;
    }


}