.navbar {
    background-color: grey;
    opacity: .7;
    height: 10vh;
    float: left;
}

.lander {
    background-image: url("../images/background.jpeg");
    height: 100vh;
}

.text {
    color: white;
    padding-top: 250px;
}

.inner-text {
    font-size: 3rem;
}

#name {
    font-size: 5rem;
}

li {
    font-size: 1.5em;
    position: relative;
    display: block;
    color: white;
    font-weight: bold;
    padding: 10px 20px;
}

.about {
    background-color: white;
    height: 100vh;
}

#headshot {
    margin: 50px;
    max-height: 400px;
    float: left;
}

